*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Kanit', sans-serif;
}

body{
    min-height: 100vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;

}

#main .all{
    border-radius: 15px;
    border: 1px solid #ededed;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    margin:4vh;
}

#main .q{
    
    
    padding:2%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#main{

    width:60vw;
    border: 1px solid #343de3;
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
    padding:3%;


}

h1{
    opacity: 0.0;
    font-size: 5rem;
    position: absolute;
    left:20%;
    top:40px;
    
}

.plus,.minus {
    font-size: 2em;
    cursor: pointer;
}

#main .content{
    font-size: 1.3em;
    padding: 2%;
}

.minus,.content, hr{
    display: none;
}








